/******************************
*Page Comparison Chart layout 
*******************************/
/*CSS code!!!!*/

.comparison-table2 {
    display: block;
}

.comparison-table1 {
    display: none;
}

.comparison-table1 {
     width: 96%;
    margin: 2em auto;
}

#comp1.table {
    max-width: 100%;
}


#comp1 .table > tbody > tr > th,
    .table > tbody > tr > td {
        padding: 16px 4px;
        font-size: 80%;
}

#comp1 .no-border,
#comp2 .no-border {
    border-top: none;
    background-color: #fff;
}

.comp1-icon img {
    width: 50%;
    height: auto;
}

#comp1 .fa.fa-check, #comp2.fa.fa-check {
    color: #24dba7;
}

#comp1 .fas {
    font-size: 18px;
}

.comp2-icon img {
    width: 30%;
    height: auto;
}

#comp2 .fas {
    font-size: 16px;
}

.red {
    color: orangered;
}

.orange {
    color: orange;
    font-weight: 600;
}

.comparison-chart-exp h4 {
    color: #595959;
    font-size: 1.1em;
}

/*Comparison table for larger screens*/
@media only screen and (min-width: 768px) {
    
     .comparison-table2 {
        display: none;
    }

    
    .comparison-table1 {
        display: block;
         width: 80%;
        
    }
}

/*Comparison table for even larger screens*/
/*@media only screen and (min-width: 960px) {

    .comparison-table1 {
        width: 80%;
    }
    
   .table > tbody > tr > th {
    padding: 16px 8px;
    }
}
